body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

div#toolbar {
  background-color: #3495de;
  width: 100%;
}

div#toolbar * {
  display: inline;
}

div#toolbar a.option {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  padding:4px 8px;
  margin:0;
  
  background-color: #3495de;
  transition: 0.3s;
  border:none;
  border-radius:0;
  -webkit-border: none;
  -moz-border: none;
  -o-border: none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -o-border-radius:0;
}

div#toolbar a.option:hover {
  background-color: #3498db;
}

.icon {
  background-image: url("./assets/images/icon.png");
  background-color: white;
}

.windowtools {
  float: right;
}

.windowtools * {
  padding: 4px;
  background-color: #3495de;
  transition: 0.3s;
  color: white;
}

.windowtools *:hover{
  background-color: #3498db;
}

#container {
  width: 100%;
  overflow: auto;
}

#container textarea.file {
  width: 100%;
  height: 100%;
}
