body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

div#toolbar {
  background-color: #3498db;
  width: 100%;
}

div#toolbar * {
  display: inline;
}

div#toolbar a.option {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

.icon {
  background-image: url("./assets/images/icon.png");
  background-color: white;
}
